# Application
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL=postgresql://dealerflow_50r0_user:MhH86L6RLSDYM2JTKeU7sDIX7nOcmLNH@dpg-d9gh3ncm0tmc73eu0du0-a.virginia-postgres.render.com/dealerflow_50r0
